<!DOCTYPE html>
<html>
<head>
  <title>Brakkit</title>
  <%= stylesheet_link_tag    "brakkit" %>
  <%= javascript_include_tag "brakkit" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>